In [ ]:
SELECT *
INTO Dataset1
FROM Posts
WHERE PostTypeId = 2;

In [ ]:
EXEC sp_rename 'dataset1.Id', 'Ans_Id', 'COLUMN';
EXEC sp_rename 'dataset1.AcceptedAnswerId', 'Ans_AcceptedAnswerId', 'COLUMN';
EXEC sp_rename 'dataset1.AnswerCount', 'Ans_AnswerCount', 'COLUMN';
EXEC sp_rename 'dataset1.Body', 'Ans_Body', 'COLUMN';
EXEC sp_rename 'dataset1.ClosedDate', 'Ans_ClosedDate', 'COLUMN';
EXEC sp_rename 'dataset1.CommentCount', 'Ans_CommentCount', 'COLUMN';
EXEC sp_rename 'dataset1.CommunityOwnedDate', 'Ans_CommunityOwnedDate', 'COLUMN';
EXEC sp_rename 'dataset1.CreationDate', 'Ans_CreationDate', 'COLUMN';
EXEC sp_rename 'dataset1.FavoriteCount', 'Ans_FavoriteCount', 'COLUMN';
EXEC sp_rename 'dataset1.LastActivityDate', 'Ans_LastActivityDate', 'COLUMN';
EXEC sp_rename 'dataset1.LastEditDate', 'Ans_LastEditDate', 'COLUMN';
EXEC sp_rename 'dataset1.LastEditorDisplayName', 'Ans_LastEditorDisplayName', 'COLUMN';
EXEC sp_rename 'dataset1.LastEditorUserId', 'Ans_LastEditorUserId', 'COLUMN';
EXEC sp_rename 'dataset1.OwnerUserId', 'Ans_OwnerUserId', 'COLUMN';
EXEC sp_rename 'dataset1.ParentId', 'Ans_ParentId', 'COLUMN';
EXEC sp_rename 'dataset1.PostTypeId', 'Ans_PostTypeId', 'COLUMN';
EXEC sp_rename 'dataset1.Score', 'Ans_Score', 'COLUMN';
EXEC sp_rename 'dataset1.Tags', 'Ans_Tags', 'COLUMN';
EXEC sp_rename 'dataset1.Title', 'Ans_Title', 'COLUMN';
EXEC sp_rename 'dataset1.ViewCount', 'Ans_ViewCount', 'COLUMN';

In [ ]:
SELECT Dataset1.*, Posts.*
FROM Dataset1
JOIN Posts ON Dataset1.Ans_ParentId = Posts.Id;